/** @format */

.navbar {
  /* margin-bottom: 100px; */
  border-bottom: 1px solid #dedede;
}

.navList {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.searchBtn {
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
  gap: 3rem;
  margin-left: auto;
  margin-right: 90px;
}

.arrowIcon {
  margin-left: 5px;
  font-size: 10px;
  vertical-align: middle;
  transition: transform 0.3s ease;
}

.searchBtn input {
  min-width: 250px;
  border: none;
  background-color: transparent;
  outline: none;
  flex-grow: 1;
  padding: 2px 8px;
}

.searchIcon {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6e50f6; /* Adjust icon color as needed */
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownLink {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  padding: 10px;
  display: block;
}

/* Hide dropdown content by default */
.dropdownContent {
  display: none;
  position: absolute;

  background: white;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  width: 200px;
}

/* Style dropdown items */
.dropdownContent .dropdownItem {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #333;
}

/* Hover effect for dropdown items */
.dropdownContent .dropdownItem:hover {
  background-color: #f4f4f4;
}

/* Show dropdown content when hovering over the parent dropdown */
.dropdown:hover .dropdownContent {
  display: block;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 120px;
  align-items: start;
}

.header h3 {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 40px;
  line-height: 1.4;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.header p {
  font-size: 14px;
  margin-bottom: 40px;
  color: rgb(226, 226, 226);
}

.headerContent img {
  width: 30%;
}

.headerContent .store {
  width: 28%;
  margin-left: 24px;
}

.value {
  text-align: center;
}

.value h3 {
  text-align: center;
}

.value h4 {
  text-align: center;
}

.values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}

.values p {
  color: #ccc;
  margin-top: 4px;
}

.card p {
  color: black;
}
.card h2 {
  color: #6e50f6;
}

.card-container {
  position: relative;
}

.card {
  position: relative;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #c0f26d;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

.cardImg {
  margin-bottom: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.line {
  padding: 16px;
  border-bottom: solid 1px white;
}
