 section h3 {
  font-size: 3em;
  font-weight: 400;
  margin-bottom: 20px;
}


h4 {
  margin-bottom: 28px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  align-items: center;
}
.header h2 {
  font-size: 4em;
}

.btn {
  display: inline-block;
  background: #C0F26D;
  padding: 12px 30px;
  border-radius: 10px;
  margin-top: 20px;
  font-weight: bold;
  color: #922be1;
  font-size: 20px;
}



.value h3 {
  text-align: center;
}

.value h4 {
  text-align: center;
}


.values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}


.values p {
  color: #ccc;
  margin-top: 4px;
}


.chooses {
  display: flex;
  gap: 120px;
}

.choose {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.line{
  border: solid 1px rgb(192, 242, 109,40%);
}